.profileCover {
    height: 15em;
    width: 100%;
    background: #000;
    position: relative;
}

.profileCover>img,
.profileImg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: default;

}

.editCover {
    position: absolute;
    bottom: 0;
    right: 3%;
    font-size: larger;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.profileImg {
    width: 9em;
    height: 9em;
    position: relative;
    border-radius: 50%;
    margin: -4em 0 0 2em;
}

.profileImg>img {
    outline: .3em solid white;
    border-radius: 50%;


}

.profileImg>img:hover {
    filter: brightness(90%);
}

.profileImg>p {
    position: absolute;
    top: 5em;
    right: -.5em;
    font-size: 1em;
    background: #E4E6EB;
    padding: .3em .6em;
    border-radius: 50%;
    cursor: pointer;

}

.userDetails {
    text-align: center;
}

.addPost {
    /* margin-top: 2em; */
    padding: .6em 1em;
    border-radius: 5px;
    height: 5em;
    width: 85%;
    display: grid;
    align-items: center;
    /* grid-template-columns: repeat(2, ifr); */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.textField {
    /* width: 1; */
    border-bottom: 1px solid rgba(173, 171, 171, 0.87);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: .4em;
    cursor: pointer;
}

.textField img {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    object-fit: cover;
}

.details {
    width: 90%;
    height: 12em;
    border: 1px solid rgba(221, 160, 221, 0.293);
    margin: 0 auto;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    padding: .5em 0;
}

.details b {
    padding-left: 30%;
}

.info {
    color: plum;
}
.info span{
    cursor: pointer;

}
.editProfileBtn {
    width: 90%;
    display: grid;
    justify-content: end;
    margin: 1em auto;
    background: transparent;
    color: rgb(72, 150, 75);
}

.editProfileBtn span:hover {
    border-bottom: 1px groove rgb(72, 150, 75);
    cursor: pointer;
}

.posts {
    /* margin-top: 2em; */
    padding: .6em 1em;
    border-radius: 5px;
    height: max-content;
    width: 100%;
    display: grid;
    row-gap: 2em;
    justify-items: center;
    align-items: center;
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */

}

@media (max-width: 600px) {
    .profileImg {
        margin: -5em auto 0 auto;

    }

    .addPost {
        width: 90%;
        font-size: .8em;
    }

    .details {
        width: 98%;
    }

    .details b {
        padding-left: 10%;
    }

}