.main{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 140vh;
    /* min-height: 100vh;
    max-width: auto; */
    width: 100vw;
}
.greenbox{
    width: 22em;
    height: 100%;
    background-color: rgb(8, 69, 52);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greenbox h1{
    margin: 1em ;
   font-size: 30px;
   letter-spacing: 1px;

}
.greenbox span{
    color: rgb(241, 196, 15);
}

.greenbox img{
    width: 90%;
}

.form{
    width: 60%;
    height: 78%;
    /* background: #c5b4b4; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* margin: 4em 0; */
}

.form h1{
    grid-area: 1/1/2/-1;
}
.form>p{
    font-size: 1.4em;
    font-weight: 600;
    color: green;
    grid-area: 2/1/3/-1
}

.inputs{
    background: #c5c3c3;
}