.main{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 175vh;
    /* min-height: 100vh;
    max-width: auto; */
    width: 100vw;
}
.greenbox{
    width: 22em;
    height: 100%;
    background-color: rgb(8, 69, 52);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greenbox h1{
    margin: 1em ;
   font-size: 30px;
   letter-spacing: 1px;

}
.greenbox span{
    color: rgb(241, 196, 15);
}

.greenbox img{
    width: 90%;
}

.form{
    /* width: 58%; */
    width: 48em;
    height: 84%;
    /* background: #c5b4b4; */
    /* margin: 0 auto; */
    margin-left: 6em;
    
    /* margin: 4em 0; */
}

.form .head{
    grid-area: 1/1/2/-1;
}
.head>p{
    font-size: 1.4em;
    font-weight: 600;
    color: green;
}

.inputs{
    display: grid;
    grid-template-columns: repeat(2,22.5em);
    column-gap: 1em;
}

.input{
    padding: 2em 0;
    /* border:1px solid  #ad3b3b; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.4em ;
    /* height: 200px; */

}
.input p{
    font-weight: 600;
    /* font-size: 16px; */
}

.input input{
    color: grey;
    font-size: 14px;
}