.cardWrapper {
    /* width: 36em; */
    width: 75%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: grid;
    grid-template-rows: 4em 1fr 4em;
}

.cardHeader,
.cardContent,
.cardFooter {
    min-height: 100%;
    min-width: 100%;
}

.cardFooter,
.icons {
    display: grid;
    align-items: center;
    justify-items: center;
}

.descriptiion span,
.icons span {
    cursor: pointer;
}

.cardContent,
.descriptiion {
    max-height: auto;
}
.cardHeader, .userData{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cardConten, .postImg img{
    width: 100%;
}
/* Post Card Header */

.cardHeader {
    padding: 1em;
}

.profileImg {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
}

.userData {
    /* width: 32%; */
    width: 11em;
}

.userData p>img {
    opacity: .5;
}

.userData p {
    color: grey;
}

/*  Post Card Content Section */

.descriptiion {
    background-color: white;
    padding: 0 1em .5em 1em;
    min-height: 2em;
    text-align: justify;
}

.postImg {
    object-fit: cover;

}

.postImg img {
    height: 30em;
}

.descriptiion span {
    color: blueviolet;
}

/* Post Card Footer Section */
.cardFooter {
    grid-template-columns: repeat(3, 1fr);
}

.icons {
    grid-template-columns: 20% 80%;
}

.icons:hover {
    filter: drop-shadow(10px 14px 40px rgb(162, 228, 142)) invert(70%);
}


@media (max-width : 1010px) {
    .cardWrapper{
        width: 88%;

    }
}
@media (max-width : 600px) {

   

    .cardWrapper {
        width: 96%;
    }
}