.homeBar {
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-top: .5em;
    padding-left: .3em;
    display: none;
}

.homeBar span {
    font-size: 1.8em;
    cursor: pointer;
}

.layout {
    width: 100%;
    height:90vh;
    display: grid;
    grid-template-columns: 16em 2fr 19em;

}

.tabs,
.content,
.friends {
    height: 100%;
    width: 100%;

}

.content {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 6px 24px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;

}

.tabs {
    /* background: #c5b5b5; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.8em;
}

.link {
    text-decoration: none;
    width: 90%;
    border-radius: 10px;
    padding: .9em;
    margin-top: .6em;
    font-weight: 600;
    font-size: 1em;
    color: rgb(54, 53, 53);
}

.link:hover {
    background: rgb(72, 150, 75);
    color: white;

}

.activeLink {
    background: rgb(72, 150, 75);
    color: white;
}

.friends h4 {
    color: rgb(194, 186, 186);
    margin: 1.2em;
}


.content {
    display: grid;
    grid-row-gap: 2em;
    justify-items: center;
    overflow-y: scroll;
}

.addPost {
    margin-top: 2em;
    padding: .6em 1em;
    border-radius: 5px;
    height: 5em;
    width: 75%;
    display: grid;
    align-items: center;
    /* grid-template-columns: repeat(2, ifr); */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.textField {
    /* width: 1; */
    border-bottom: 1px solid rgba(173, 171, 171, 0.87);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: .4em;
    cursor: pointer;
}

.textField img {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    object-fit: cover;
}


@media (max-width : 1115px) {
    .layout {
        grid-template-columns: 12em 2fr 14em;
    }

}

@media (max-width : 900px) {

    .friends {
        display: none;
    }


    .layout {
        grid-template-columns: 13em 1fr;

    }
}

@media (max-width : 720px) {

    .layout {
        /* grid-template-columns: 13em 30em; */
        grid-template-columns: 1fr;

    }

    .tabs {
        display: none;

    }

    .homeBar {
        display: block;
    }

    .show {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.8em;

    }
}

@media (max-width : 600px) {



    .addPost {
        width: 96%;
    }
}